*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:#fff;
    font-family:'Inter',sans-serif;
}

.app{
    max-width:430px;
    margin:auto;
    padding:20px;
}

.perfil{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:25px;
}

.foto{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#7f1d1d;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight:bold;
}

.perfil h1{
    font-size:22px;
}

.perfil p{
    color:#94a3b8;
    margin-top:4px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin-bottom:25px;
}

.card{
    background:#1e293b;
    border-radius:18px;
    padding:20px;
    text-align:center;
    transition:.2s;
}

.card:hover{
    transform:translateY(-3px);
}

.card span{
    font-size:30px;
}

.card h2{
    margin-top:10px;
    font-size:32px;
}

.card p{
    margin-top:8px;
    color:#94a3b8;
}

#btnNuevo{
    width:100%;
    background:#7f1d1d;
    color:white;
    border:none;
    padding:18px;
    border-radius:18px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    margin-bottom:25px;
}

#btnNuevo:hover{
    background:#991b1b;
}

.historial{
    background:#1e293b;
    border-radius:18px;
    padding:20px;
}

.historial h2{
    margin-bottom:15px;
}

.empty{
    color:#94a3b8;
    text-align:center;
    padding:20px;
}

.partido{
    background:#334155;
    border-radius:12px;
    padding:15px;
    margin-bottom:12px;
}

.partido h3{
    margin-bottom:8px;
}

.partido p{
    margin:4px 0;
    color:#cbd5e1;
}

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.75);
    justify-content:center;
    align-items:center;
    padding:20px;
}

.modalBox{
    background:#1e293b;
    width:100%;
    max-width:420px;
    border-radius:20px;
    padding:20px;
}

.modalBox h2{
    margin-bottom:20px;
}

.modalBox input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#334155;
    color:white;
    margin-bottom:12px;
    font-size:16px;
}

.modalBox input:focus{
    outline:2px solid #7f1d1d;
}

.acciones{
    display:flex;
    gap:10px;
    margin-top:10px;
}

#guardar,
#cerrar{
    flex:1;
    border:none;
    padding:14px;
    border-radius:12px;
    color:white;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

#guardar{
    background:#7f1d1d;
}

#cerrar{
    background:#475569;
}

#guardar:hover{
    background:#991b1b;
}

#cerrar:hover{
    background:#64748b;
}

@media(max-width:450px){

    .app{
        padding:15px;
    }

    .cards{
        grid-template-columns:1fr 1fr;
    }

}.modalBox label{
    display:block;
    margin-top:10px;
    margin-bottom:5px;
    font-weight:600;
    color:#e2e8f0;
}